.inpContiner {
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.input {
    border: 1px solid #1d72e7;
}

.input:focus {
    border: none;
}

/* 
class="MuiInputBase-root MuiOutlinedInput-root MuiInputBase-colorPrimary MuiInputBase-formControl css21ddj71-MuiInputBase-root-MuiOutlinedInput-root" */